.title {
  margin-right: auto;
  margin-left: auto;
  text-align: center;
}
.author {
  margin-right: auto;
  margin-left: auto;
  text-align: center;
}

.text {
  color:rebeccapurple;
  width:800px;
  margin-right: auto;
  margin-left: auto;
}
.content {
  background-color: aliceblue;
  color:midnightblue;
}
.italics {
  color:slateblue;
}

.images {
  margin-left: auto;
  margin-right: auto;
  display: block;
}
.indent {
  text-indent: 60px;
  color:rebeccapurple;
  width:800px;
  margin-right: auto;
  margin-left: auto;
}
.links {
  color: rebeccapurple;
  margin-right: auto;
  margin-left: auto;
  display: block;
  text-align: center;
}

.links:hover {
  color:darkorchid;
}